.footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 120px;
}

.footer-item {
  color: rgb(196, 196, 196);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.footer-item a {
  text-decoration-line: underline;
}